
*.plg

*.idb

*.obj

*.pch

*.ncb

*.opt

*.exp

*.cfg

*.qvm

code/Debug/
code/FinalBuild/
code/Release/
code/SHDebug/
CODE-mp/Debug/
CODE-mp/Final/
CODE-mp/Release/
CODE-mp/servercache.dat
CODE-mp/base/botfiles/
CODE-mp/base/botroutes/
CODE-mp/base/demos/
CODE-mp/base/eagle/
CODE-mp/base/effects/
CODE-mp/base/ext_data/
CODE-mp/base/fonts/
CODE-mp/base/forcecfg
CODE-mp/base/gfx/
CODE-mp/base/levelshots/
CODE-mp/base/maps/
CODE-mp/base/menu/
CODE-mp/base/music/
CODE-mp/base/models/
CODE-mp/base/scripts/
CODE-mp/base/shaders/
CODE-mp/base/sound/
CODE-mp/base/strip/
CODE-mp/base/textures/
CODE-mp/base/ui/
CODE-mp/base/video/
CODE-mp/base/vm/
CODE-mp/base/games.log
CODE-mp/base/productid.txt
code/servercache.dat
code/botfiles/
code/base/botroutes/
code/base/demos/
code/base/eagle/
code/base/effects/
code/base/ext_data/
code/base/fonts/
code/base/forcecfg/
code/base/gfx/
code/base/levelshots/
code/base/maps/
code/base/menu/
code/base/music/
code/base/models/
code/base/scripts/
code/base/shaders/
code/base/sound/
code/base/strip/
code/base/textures/
code/base/ui/
code/base/video/
code/base/vm/
code/base/games.log
code/base/productid.txt
