
*.plg

*.idb

*.obj

*.pch

*.ncb

*.opt

*.exp

*.cfg

*.qvm

code/Debug/
code/FinalBuild/
code/Release/
code/SHDebug/
CODEmp/Debug/
CODEmp/Final/
CODEmp/Release/
CODEmp/servercache.dat
CODEmp/base/botfiles/
CODEmp/base/botroutes/
CODEmp/base/demos/
CODEmp/base/eagle/
CODEmp/base/effects/
CODEmp/base/ext_data/
CODEmp/base/fonts/
CODEmp/base/forcecfg
CODEmp/base/gfx/
CODEmp/base/levelshots/
CODEmp/base/maps/
CODEmp/base/menu/
CODEmp/base/music/
CODEmp/base/models/
CODEmp/base/scripts/
CODEmp/base/shaders/
CODEmp/base/sound/
CODEmp/base/strip/
CODEmp/base/textures/
CODEmp/base/ui/
CODEmp/base/video/
CODEmp/base/vm/
CODEmp/base/games.log
CODEmp/base/productid.txt
code/servercache.dat
code/botfiles/
code/base/botroutes/
code/base/demos/
code/base/eagle/
code/base/effects/
code/base/ext_data/
code/base/fonts/
code/base/forcecfg/
code/base/gfx/
code/base/levelshots/
code/base/maps/
code/base/menu/
code/base/music/
code/base/models/
code/base/scripts/
code/base/shaders/
code/base/sound/
code/base/strip/
code/base/textures/
code/base/ui/
code/base/video/
code/base/vm/
code/base/games.log
code/base/productid.txt
